@font-face {
  font-family: "Futura-Bold";
  src: url("../assets/font/futura/futur.woff") format("woff");
}

@font-face {
  font-family: "Futura-Md-BT";
  src: url("../assets/font/futura/futura medium bt.woff") format("woff");
}

.header-color {
  color: #1d1d1f;
}
.content-color {
  color: #525355;
}

.futura-bold-text {
  font-family: "Futura-Bold";
}

.futura-md-bt {
  font-family: "Futura-Md-BT";
}

.active-link {
  background: #f9f9f9;
  border-radius: 40px;
}

.custom-shadow {
  border-radius: 50%;
  box-shadow: 0px 24px 32px 0px rgba(0, 0, 0, 0.1);
}
