@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
	font-family: "FuturaRegular";
	src: url("/assets/fonts/futura/Futura Book font.ttf") format("truetype");
}

@font-face {
	font-family: "FuturaBold";
  font-weight: bold;
	src: url("/assets/fonts/futura/Futura Bold font.ttf");
}

@font-face {
	font-family: "FuturaBlack";
  font-weight: black;
	src: url("/assets/fonts/futura/Futura Heavy font.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
